:root {
  --light-color: #fff;
  --dark-color: #181818;

  --primary-color: #4452fe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}
body,
button,
input,
li,
a {
  font-family: 'Graphik Trial', sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: var(--dark-color);
  min-width: 548px;
  max-width: 2560px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.hidden {
  visibility: hidden;
  max-width: 0;
}

.visibility {
  visibility: visible;
  max-width: none;
}

/* general */

body {
  padding-inline: 2.4rem;

  & header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.8rem;
    margin-bottom: 3.5rem;
    margin-inline: auto;
    width: 80%;

    & nav ul {
      display: flex;
      align-items: center;
      gap: 3.1rem;

      & a {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0.2px;
        color: var(--light-color);
        transition: all 0.1s ease;
        &:hover {
          text-shadow: rgba(255, 255, 255, 0.5) 1px 0px 30px;
        }
      }
    }
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;

      & button {
        color: var(--light-color);
        padding: 1.6rem 4.6rem;
        border: solid 1px var(--light-color);
        font-size: 1.7rem;
        color: var(--light-color);
        font-weight: 500;
        line-height: 2.5rem;

        transition: all 0.2s ease;

        &:hover {
          background-color: var(--primary-color);
          border: solid 1px var(--dark-color);
          box-shadow: 0 0 15px 2px rgba(13, 33, 253, 0.5);
        }
      }

      & img {
        cursor: pointer;
      }
    }
  }

  & main {
    display: flex;
    flex-flow: column;

    & section {
      width: 75%;
      min-height: 850px;
      padding-block: 6.2rem;
      margin-inline: auto;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 10rem;

      & .section-title {
        text-align: center;
        font-size: 5.2rem;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.2px;
        margin-bottom: 1rem;
        color: var(--light-color);
      }

      & .section-subtitle {
        justify-content: center;
        width: 41.1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: var(--light-color);
        margin-bottom: 2.8rem;
      }
    }

    & .hero-section {
      margin-block-end: 5.7rem;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5.7rem;

      position: relative;

      & .hero-info {
        display: flex;
        flex-flow: column;
        gap: 2.7rem;
        width: 582px;

        & h1 {
          text-align: center;
          color: var(--light-color);
          font-weight: 400;
          line-height: 6.2rem;
          font-size: 5.2rem;
        }

        & p {
          text-align: center;
          color: var(--light-color);
          font-size: 2rem;
          font-weight: 400;
          line-height: 3rem;
          letter-spacing: 0.2px;
        }
      }

      & .hero-act {
        display: flex;
        margin-block: 3.5rem;
        gap: 2.1rem;

        & button {
          color: var(--light-color);
          padding: 1.6rem 4.6rem;
          border: solid 1px var(--light-color);
          font-size: 1.7rem;
          color: var(--light-color);
          font-weight: 500;
          line-height: 2.5rem;
          transition: all 0.2s ease;
        }
        & .btn-try {
          background-color: var(--primary-color);
          border: solid 1px var(--primary-color);

          &:hover {
            background-color: var(--light-color);
            color: var(--dark-color);
            border: solid 1px var(--light-color);
            box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
          }
        }

        & .btn-learn:hover {
          background-color: var(--light-color);
          color: var(--dark-color);
          box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
        }
      }

      & .background-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3.5rem;
        padding-inline-start: 4rem;
        width: 100%;
        mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 100%,
          rgba(0, 0, 0, 1) 100%
        );
        -webkit-mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 40%,
          rgba(255, 255, 255, 0) 100%
        );
        & img {
          width: 80%;
          /* filter: drop-shadow(0 -1mm 4mm var(--primary-color)); */
          transition: all 0.5s ease;
          &:hover {
            /* filter: drop-shadow(0 -1mm 4mm var(--light-color)); */
            filter: drop-shadow(0 -1mm 4mm var(--primary-color));
          }
        }
      }
    }

    & .features-section {
      display: flex;
      flex-flow: column;
      gap: 2.7rem;

      & .feature-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.7rem;

        & .feature-img img {
          transition: all 0.5s ease;
          &:hover {
            filter: drop-shadow(0 -1mm 4mm var(--primary-color));
          }
        }

        & .features-categories {
          max-width: 27rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;
          gap: 2.5rem;

          & .features {
            display: flex;
            flex-flow: column;

            & .features-header {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-block-end: 1rem;
              & img {
                padding-block-end: 1.9rem;
              }
              & h3 {
                width: 17rem;
                color: var(--light-color);
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 500;
                letter-spacing: 0.1px;
                padding: 1rem;
              }
            }

            & p {
              width: 25rem;
              color: var(--light-color);
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: 0.2px;
            }
          }
        }
      }
    }

    & .contents-section {
      display: flex;
      flex-flow: column;
      gap: 2.7rem;

      & .contents-img {
        display: flex;
        gap: 3.3rem;
        justify-content: center;
        align-items: center;

        & img {
          flex: 1;
          transition: all 0.5s ease;
          &:hover {
            filter: drop-shadow(0 -1mm 4mm var(--light-color));
          }
        }
      }
    }
  }

  & .gallery-section {
    display: flex;
    flex-flow: column;
    gap: 2.7rem;

    & .gallery-img {
      display: flex;
      flex-flow: column;
      gap: 4.4rem;

      & .gallery-upset,
      & .gallery-downset {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.3rem;
        & > div {
          border-radius: 12px;
          overflow: hidden;
          transition: all 0.5s ease;
          &:hover {
            filter: drop-shadow(0 -1mm 4mm var(--light-color));
          }
        }
      }
    }

    & button {
      margin-top: 4.4rem;
      color: var(--light-color);
      padding: 1.6rem 4.6rem;
      border: solid 1px var(--light-color);
      font-size: 1.7rem;
      color: var(--light-color);
      font-weight: 500;
      line-height: 2.5rem;

      transition: all 0.2s ease;
      &:hover {
        background-color: var(--light-color);
        color: var(--dark-color);
        border: solid 1px var(--light-color);
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
      }
    }
  }

  & .gallery-column {
    display: none;
    & > div {
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.5s ease;
      &:hover {
        filter: drop-shadow(0 -1mm 4mm var(--light-color));
      }
    }
  }

  & .partners-section {
    & .partners-img {
      display: flex;

      align-items: center;
      justify-content: center;
      gap: 5rem;
      & .partners-upset,
      & .partners-downset {
        display: flex;
        gap: 5rem;
      }
    }

    & button {
      color: var(--light-color);
      padding: 1.6rem 4.6rem;
      border: solid 1px var(--light-color);
      font-size: 1.7rem;
      color: var(--light-color);
      font-weight: 500;
      line-height: 2.5rem;

      transition: all 0.2s ease;
      &:hover {
        background-color: var(--light-color);
        color: var(--dark-color);
        border: solid 1px var(--light-color);
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@media (width > 746px) {
  header {
    & div img {
      visibility: hidden;
      max-width: 0;
    }
  }
  .hero-act,
  .feature-content,
  .contents-img {
    flex-flow: row;
  }
  .partners-img{
    flex-flow: row;
  }
}

@media (width < 746px) {
  html {
    font-size: 54.69%;
  }
  header {
    & nav ul {
      visibility: hidden;
      max-width: 0;
    }

    & div img {
      visibility: visible;
      max-width: none;
    }
  }
  .hero-act,
  .feature-content {
    flex-flow: column;
  }
  .contents-img {
    flex-flow: column;
    & div {
      width: 80%;
    }
  }

  & .gallery-upset,
  & .gallery-downset {
    display: none !important;
  }

  #g-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.3rem;
    & div {
      margin-inline: auto;
      width: 85%;
    }

    .partners-img{
      flex-flow: column;
    }
  }
}
